In [2]:
import pandas as pd
import numpy as np

In [3]:
movies_2010s = pd.read_csv("dbs/movies-from-2010s.csv")
movies_2010s.dropna(inplace=True) # get rid of movies with null values
movies_2010s = movies_2010s.loc[movies_2010s['revenue'] > 0] # get revenues that are greater than 0
num_votes_required = movies_2010s['vote_count'].quantile(0.8)
watched_movies_2010s = movies_2010s.copy().loc[movies_2010s['vote_count'] >= num_votes_required]

In [4]:
trailers = pd.read_csv("dbs/trailers_2010s.csv").rename(columns={'title': 'trailer_title'})
trailers.head(5)

,youtube_id,trailer_title,channel_title,channel_id,description,tags,view_count,like_count,dislike_count,comment_count,tmdb_id,similarity_score
0,ksfqS4GuLfA,Book Of Eli Trailer,Sony Pictures Releasing Australia,UCQ2zp9FmJzOG_JzUJ0A-FlQ,Only At The Movies! February 25\r\nStory centr...,"['Denzel Washington', 'Gary Oldman', 'Ray Stev...",32060,47,3,10,20504,0.685185
1,kAMUv22y1og,"""The Book of Eli"" - Official Trailer [HD HQ]",watchCulturetainment,UCuJXQzdMnQuNGkYJqgIwb-w,"Coming to theatres on January 15, 2010\r\nStar...","['the', 'book', 'of', 'eli', 'film', 'official...",3325347,4505,321,1983,20504,0.750000
2,jh8mm8KR6ow,'The Book of Eli' Trailer HD,HDCIDER,UCw8uynfUyRdyK8dIZGSzlog,A lone hero must fight his way across the wast...,"[""'The"", 'Book', 'of', ""Eli'"", 'Trailer', 'HD']",43,1,0,0,20504,0.714286
3,o-v4L8OE3uA,The Book of Eli - Official Trailer,Innaloop,UC8h3JiDOhjouAGvKzPP8PNA,Visit: http://www.innaloop.com\r\n\r\nA post-a...,"['Eli', 'Denzel Washington', 'Michael Gambon',...",656,1,0,0,20504,1.000000
4,28LXGuqDUqk,The Book of Eli - Official Trailer [HD],AKAVinceanator,UCqTTUQVIWzCMmcJ54ZEEHUQ,SUBSCRIBE,"['The', 'Book', 'of', 'Eli', 'Official', 'Trai...",494,0,0,0,20504,0.857143

In [23]:
comparison = watched_movies_2010s.merge(trailers, on='tmdb_id')

In [11]:
type(comparison)

pandas.core.frame.DataFrame

In [24]:
grouped_comparison = comparison.sort_values(['tmdb_id', 'view_count'], ascending=False).groupby('tmdb_id')[['tmdb_id', 'title', 'trailer_title', 'view_count', 'similarity_score']]
grouped_comparison.head(3)

,tmdb_id,title,trailer_title,view_count,similarity_score
276,51876,Limitless,'Limitless' Trailer HD,4441524,0.500000
275,51876,Limitless,Sem Limites (2011) Trailer Nacional Legendado.,1117436,0.125000
277,51876,Limitless,LIMITLESS Trailer HD 1080p,16817,0.400000
317,50546,Just Go with It,JUST GO WITH IT - Trailer,2725592,0.833333
318,50546,Just Go with It,Just Go With It - Trailer,294952,0.833333
...,...,...,...,...,...
50,10138,Iron Man 2,Iron Man 2 - Espectacular Trailer 2 Espa√±ol La...,2192748,0.363636
51,10138,Iron Man 2,IRON MAN 2 - TRAILER 2 - SUBTITULADO BY SAMYG12,32753,0.444444
67,9543,Prince of Persia: The Sands of Time,PRINCE OF PERSIA: THE SANDS OF TIME MOVIE TRAILER,5808997,0.800000
68,9543,Prince of Persia: The Sands of Time,Prince of Persia: The Sands of Time - Official...,321391,0.900000
69,9543,Prince of Persia: The Sands of Time,Prince of Persia: The Sands of Time Trailer C,15211,0.800000

In [28]:
comparison.loc[comparison['tmdb_id'] == 10138][['trailer_title', 'view_count', 'similarity_score']]

,trailer_title,view_count,similarity_score
50,Iron Man 2 - Espectacular Trailer 2 Espa√±ol La...,2192748,0.363636
51,IRON MAN 2 - TRAILER 2 - SUBTITULADO BY SAMYG12,32753,0.444444
52,Iron Man 2 Trailer,3553451,0.800000
53,Official Iron Man 2 Trailer,26920,1.000000
54,Iron Man 2 - Trailer HD,4871,0.666667